source "$SIFLI_SDK/Kconfig.v2"
source "$SIFLI_SDK/customer/boards/Kconfig.v2"
source "/Users/wonderxue/Desktop/SDKs/SiFli/customer/boards/cxk/hcpu/Kconfig.board"
osource "/Users/wonderxue/Desktop/SDKs/SiFli/example/boot_loader/project/butterflmicro/ram_v2/sf-pkgs/Kconfig.conandeps"
source "/Users/wonderxue/Desktop/SDKs/SiFli/example/boot_loader/project/butterflmicro/ram_v2/Kconfig.proj"