#APP specific configuration.
config CUSTOM_MEM_MAP
    bool 
	select custom_mem_map
	default y if !SOC_SIMULATOR
	
config RT_SERIAL_DEFAULT_BAUDRATE
        int "UART default baudrate"
        default 115200